<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
      <ion-avatar>
        <img src="{{image}}" alt="image"/>
      </ion-avatar>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" align="center">{{titulo}}</ion-title>
    <ion-buttons slot="end">

      <ion-button>
        <ion-button href="principal"><ion-icon name="home-outline"></ion-icon></ion-button>
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
