<app-head titulo="terror" image="assets/images/terror.jpg"></app-head>
<ion-content>
    <ion-card *ngFor="let d of series " color="light">
        <ion-grid>
            <ion-row>
                <ion-col size-lg="2">
                    <ion-slides>
                        <ion-slide *ngFor="let i of d.imagen ">
                            <ion-card>
                                <ion-img style="height: 300px; width: 300px" [src]="i"></ion-img>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>{{d.titulo}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>CATEGORRIA : {{d.categorias}}</ion-label>
                            <br>
                            <ion-label>CAPITULOS : {{d.capitulos}}</ion-label>
                            <br>
                            <ion-label>EMISION : {{d.emision}}</ion-label>
                            <br>
                            <ion-label>SINOPSIS : {{d.titulo}} {{d.sinopsis}}</ion-label>

                        </ion-card-content>

                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
