<app-head titulo="terror" image="assets/images/terror.jpg"></app-head>
<ion-content>
    <ion-list *ngFor="let d of series2 ">
        <ion-card routerLink="/serie/{{d._id}}">
            <ion-card-header>
                <ion-card-title align="center">{{d.titulo}}</ion-card-title>
                <ion-slides pager="true" [options]="slideopts">
                    <ion-slide *ngFor="let i of d.imagen">
                        <ion-card>
                            <ion-img id="imagen"  [src]="i"></ion-img>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-card-header>
            <ion-card-content align="center" >{{d.categorias}}</ion-card-content>
        </ion-card>

    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="secondary" href="https://www.vimeo.com/"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
            <ion-fab-button color="primary" href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button color="tertiary"  href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
            <ion-fab-button color="secondary" href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
            <ion-fab-button color="danger" href="https://www.youtube.com/"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
        </ion-fab-list>

    </ion-fab>
</ion-content>
