<app-head titulo="terror" image="assets/images/terror.jpg"></app-head>
<ion-content>
    <ion-list *ngFor="let d of series2 ">
        <ion-card routerLink="/serie/{{d._id}}">
            <ion-card-header>
                <ion-card-title align="center">{{d.titulo}}</ion-card-title>
                <ion-slides pager="true" [options]="slideopts">
                    <ion-slide *ngFor="let i of d.imagen">
                        <ion-card>
                            <ion-img  [src]="i"></ion-img>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-card-header>
            <ion-card-content align="center" >{{d.categorias}}</ion-card-content>
        </ion-card>

    </ion-list>
</ion-content>
