<ion-header class="ion-no-border" >
    <ion-toolbar color="primary">
        <ion-title align="center">Principal</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button menu="first"></ion-menu-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
     <ion-list>
         <ion-item *ngFor="let d of serieslist">
             <ion-card>
                 <ion-card-content>
                     <ion-card-title>{{d.titulo}}</ion-card-title>
                     <ion-img style="width: 200px; height: 200px" src="{{d.imagen}}" ></ion-img>
                     {{d.sinopsis}}
                 </ion-card-content>
             </ion-card>

         </ion-item>

     </ion-list>


</ion-content>
