<ion-header class="ion-no-border" >
    <ion-toolbar color="primary">
        <ion-title align="center">Principal</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button menu="first"></ion-menu-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

     <ion-list *ngFor="let d of seriesInfo | async">
         <ion-card >
             <ion-card-header>
                 <ion-card-title align="center">{{d.titulo}}</ion-card-title>
                 <ion-img  src="{{d.imagen}}" ></ion-img>
             </ion-card-header>
             <ion-card-content align="center" >{{d.sinopsis}}</ion-card-content>
         </ion-card>

     </ion-list>

</ion-content>
