<ion-header class="ion-no-border" >
    <ion-toolbar color="primary">
        <ion-title align="center">Principal</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button menu="first"></ion-menu-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
     <ion-list *ngFor="let d of series | async">
         <ion-card routerLink="/serie/{{d._id}}">
             <ion-card-header>
                 <ion-card-title align="center">{{d.titulo}}</ion-card-title>
                 <ion-slides pager="true" [options]="slideopts">
                     <ion-slide *ngFor="let i of d.imagen">
                         <ion-card>
                             <ion-img  [src]="i"></ion-img>
                         </ion-card>
                     </ion-slide>
                 </ion-slides>
             </ion-card-header>
             <ion-card-content align="center" >{{d.categorias}}</ion-card-content>
         </ion-card>

     </ion-list>

</ion-content>
